<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Zero Food Waste</title>
     <link rel="stylesheet" href="../public/css/inventory.css">
    {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body>
  
        <header class="main-header">
        <h1>Inventory</h1>
    </header>
      <div class="container">
        <main>
            {{!-- <button id="addButton" type="submit" >Add food items</button> --}}
            <button class="btn btn-success addButton active" data-form="addButton">Add Food</button>
            <button class="btn btn-secondary closeButton" data-form="closeButton">Close </button>
            <div id="addFood" class="container" >
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Enter the food details </h5>
                <form id="addFood-form" method="post" action="/food">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="itemName">Item Name:
                                <input type="text" name="itemName" id="itemName" placeholder="Eg:Milk"  >
                            </label><br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="quantity">Quantity:
                                <input type="number" step="0.01" name="quantity" id="quantity" placeholder="Eg:2" >
                            </label><br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="unit"> Unit:
                                <select name="unit" id="unit">
                                    <option value="">Select...</option>
                                    <option value="tsp">Teaspoon</option>
                                    <option value="tbsp">Tablespoon</option>
                                    <option value="cup">Cup</option>
                                    <option value="pt">Pint</option>
                                    <option value="qt">Quart</option>
                                    <option value="gal">Gallon</option>
                                    <option value="oz">Ounce</option>
                                    <option value="floz">Fluid ounce</option>
                                    <option value="lb">Pound</option>
                                </select><br>
                            </label><br>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="expiryDate">Expiry Date:
                                <input type="date" name="expiryDate" id="expiryDate"  placeholder="MM/DD/YYYY">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="costPerItem">Cost per item:
                                <input type="number" step="0.01" name="costPerItem" id="costPerItem" placeholder="Eg:20" >
                            </label><br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="totalCost">Total Cost:
                                <input type="number" step="0.01" name="totalCost" id="totalCost" placeholder="Eg:200" >
                            </label><br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="brand">Brand:
                                <input type="text" name="brand" id="brand" placeholder="Eg:Costco" >
                            </label><br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="category">Category:
                                <input type="text" name="category" id="category" placeholder="Eg:Dairy" >
                            </label><br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="status">Status:
                                <select name="status" id="status">
                                    <option value="">Select...</option>
                                    <option value="Fresh">Fresh</option>
                                    <option value="Early Decline">Early Decline</option>
                                </select>
                            </label><br>
                        </div>
                    </div>
                </div>
                <button id="formAddButton" class="btn btn-primary" type="submit">Add</button>
                <button type="reset" class="btn btn-secondary" id="clearBtn">Clear</button>

                </form>
                {{#if hasErrors}}
                    <ul class="error-list">
                        {{#each error}}
                        <li>
                        {{this}}
                        </li>
                        {{/each}}
                    </ul>
                {{/if}}
                </div>
                </div>

            </div>
           <div id="inventoryList" class="container">
    <div class="d-flex flex-wrap">
        {{#if foodList.length}}
            {{#each foodList}}
                <div class="card mx-2 my-2" style="width: 18rem;" id={{_id}} unit={{unit}} data-quantity={{quantity}}>
                    <div class="card-body">
                             <div class="d-flex justify-content-end mb-2">
                            <input type="checkbox" class="form-check-input" id="checkbox{{_id}}" name="foodCheckbox">
                        </div>
                        <h5 class="card-title"><a href="/food/view/{{_id}}">{{itemName}}</a> </h5>
                        <p class="card-text">Expiration date: {{expiryDate}}</p>
                        <img src="{{imageUrl}}" alt="Food Image" class="food-image w-50"><br>
                        
                    </div>
                </div>
            {{/each}}
           
             </div>
               <button type="button" class="d-block btn btn-success mt-4 w-100" id="shareBtn">Share</button>
        {{else}}
            <!-- Message card when foodList is empty -->
            <div class="card text-center bg-light mx-2 my-2" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">No food items, yet. Add some to get started!</p>
                </div>
            </div>
        {{/if}}
    
</div>
        </main>
    </div>

<script>
 
  const ws = new WebSocket("ws://localhost:8080/");

  document.addEventListener("DOMContentLoaded", function () {
       toastr.options = {
    closeButton: true,
    progressBar: true,
    positionClass: 'toast-top-right',
     timeOut: 10000,  
  };

    // Check if we get expirationNotifications
    let expirationNotifications = {{{json expirationNotifications}}};

    // Parse the string as a JSON array
    expirationNotifications = JSON.parse(expirationNotifications);

    

 function displayNotificationWithDelay(notification, delay) {
    setTimeout(function () {
        const today = new Date();
        
        // Extract the expiration date from the notification
        const match = notification.match(/Expiration date: (\d{4}-\d{2}-\d{2})/);
        const expirationDateString = match ? match[1] : null;

        if (expirationDateString) {
            // Parse the expiration date in the "yyyy-mm-dd" format
            const [year, month, day] = expirationDateString.split('-').map(Number);
            const expirationDate = new Date(year, month - 1, day); // Month is zero-based

            // Check if the expiration date is in the past
            if (expirationDate < today) {
                // Replace "approaching" with "passed" if the expiration date is in the past
                const updatedNotification = notification.replace("approaching", "passed");
                toastr.error(updatedNotification, 'Food Expiration Alert');
            } else {
                toastr.warning(notification, 'Food Expiration Alert');
            }
        } else {
            console.error('Unable to extract expiration date from notification:', notification);
        }
    }, delay);
}

    expirationNotifications.forEach(function (notification, index) {
      console.log("client received notification: ", notification);

      // Display the notification using toastr
       const delay = index * 3000; // 3000 milliseconds = 3 seconds
      displayNotificationWithDelay(notification, delay);

    });

   
     const shareBtn = document.getElementById("shareBtn");

        shareBtn.addEventListener("click", function () {
            // Get the selected food items
            const selectedFoodItems = document.querySelectorAll('input[name="foodCheckbox"]:checked');
            
            if (selectedFoodItems.length > 0) {
                // Generate the email body
                let emailBody = "Hi, my name is " + "{{ name }}" + " and my phone number is " + {{{ phoneNumber }}} + ".\n\n I have selected" + 
                " a number of food items that were close to expiring but are in good condition. If you are interested, I would like for them " +
                "to be donated and consumed by someone who can benefit from them. Please see them below, and feel free to contact me " +
                " to coordinate about dropping them off/picking them up. \n" + "\nSelected Food Items For Donation:\n";
                selectedFoodItems.forEach(function (checkbox) {
                    const foodCard = checkbox.closest(".card");
                    const itemName = foodCard.querySelector(".card-title a").innerText;
                    const expiryDate = foodCard.querySelector(".card-text").innerText;
                      const quantity = foodCard.getAttribute('data-quantity');
                       const unit = foodCard.getAttribute('unit');

                    emailBody += `\nItem Name: ${itemName}\nQuantity: ${quantity}\nUnit: ${unit}\n${expiryDate}\n`;
                    
                });
                
                  emailBody += "\n\nBest regards,\n{{ name }}";

                // Encode the email body for the mailto link
                emailBody = encodeURIComponent(emailBody);

                // Set the mailto link
                const mailtoLink = `mailto:?subject=Shared Food Items&body=${emailBody}`;

                // Open the email form
                window.location.href = mailtoLink;
            } else {
                // Show a message or alert if no food items are selected
                alert("Please select food items to share.");
            }
        });
  });


</script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/public/js/inventory.js"></script>
</body>

</html>
